<div>
  <%= link_to_delete 'Logout', destroy_user_session_path, :user %>

  <h1> Hello <%= current_user.name %></h1>

  <ul>
    <% @groups_as_admin.each do |group| %>
      <li>
        <h2> <%= link_to group.name, group %> </h2>
        <p> Description: <%= group.description %> </p>
        <p> Region: <%= group.region %> </p>
      </li>
    <% end %>
  </ul>

  <ul>
    <% @groups_as_member.each do |group| %>
      <li>
        <h2> <%= link_to group.name, group %> </h2>
        <p> Description: <%= group.description %> </p>
        <p> Region: <%= group.region %> </p>
      </li>
    <% end %>
  </ul>

  <%= link_to 'Create group', new_group_path %>

  <%= link_to 'Check the groups around', groups_path %>
</div>
