<section data-test="group_show">
  <h1> Name: <%= @group.name %> </h1>

  <p> Description: <%= @group.description %> </p>

  <p> Region: <%= @group.region %> </p>

  <% if current_user %>
    <% if policy(@group).update? %>
      <%= link_to 'Edit', edit_group_path(@group) %>
    <% end %>

    <% if policy(@group).destroy? %>
      <%= link_to_delete 'Delete', group_path(@group), :group %>
    <% end %>

    <% if policy(@group).leave? %>
      <%= link_to_delete 'Leave group', group_leave_path(@group), :membership %>
    <% end %>

    <% if policy(@group).create_an_event? %>
      <%= link_to 'Create event', new_group_event_path(@group) %>
    <% end %>

    <% if policy(@group).join? %>
      <%= link_to_create 'Join group', group_join_path(@group), :membership %>
    <% end %>
  <% end %>

  <%= link_to 'Events', group_events_path(@group) %>

  <%= link_to 'Go back', groups_path %>
</section>
