<section data-test="group_show">
  <h1> Name: <%= @group.name %> </h1>
  <p> Description: <%= @group.description %> </p>
  <p> Region: <%= @group.region %> </p>

  <% if @can_update %>
    <%= link_to 'Edit', edit_group_path(@group) %>
  <% end %>

  <% if @can_destroy %>
    <%= link_to_delete 'Delete', group_path(@group), :group %>
  <% end %>

  <% if @can_join %>
    <%= link_to_create 'Join group', group_join_path(@group), :membership %>
  <% end %>

  <% if @can_leave %>
    <%= link_to_delete 'Leave group', group_leave_path(@group), :membership %>
  <% end %>

  <%= link_to 'Go back', groups_path %>

  <%= link_to 'Events', group_events_path(@group) %>
</section>
