<section data-test="group_show">
  <h1> Name: <%= @group.name %> </h1>
  <p> Description: <%= @group.description %> </p>
  <p> Region: <%= @group.region %> </p>

  <% if policy(@group).update? %>
    <%= link_to 'Edit', edit_group_path(@group) %>
  <% end %>

  <% if policy(@group).destroy? %>
    <%= link_to 'Delete', @group, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</section>
