<h1> Name: <%= @event.name %> </h1>
<p> Description: <%= @event.description %> </p>
<p> Address: <%= @event.address %> </p>
<p> Start Date: <%= @event.start_date %> </p>
<p> End Date: <%= @event.end_date %> </p>

<% if @can_update %>
  <%= link_to 'Edit', edit_group_event_path(@group, @event) %>
<% end %>

<% if @can_destroy %>
  <%= link_to_delete 'Delete', group_event_path(@group, @event), :event %>
<% end %>

<% if @can_join %>
  <%= link_to_create 'Join event', event_join_path(@group), :attendee %>
<% end %>

<% if @can_leave %>
  <%= link_to_delete 'Leave event', event_leave_path(@group), :attendee %>
<% end %>

<%= link_to 'Go back', group_events_path(@group) %>
